html, body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
}

.feed {
  margin: 16px auto 0;
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(168px, 1fr));
  grid-gap: 10px;
}

@media only screen and (max-width: 860px) {
  .feed {
    width: calc(100% - 16px);
    grid-template-columns: repeat(auto-fill, minmax(148px, 1fr));
    grid-gap: 8px;
  }
}